<html>

<head>
    <style>
        body {
        font-size: 1.5em;
        font-family: calibri;
    }

        .description {
        margin-top: 50px;
        text-align: left;
        font-family: calibri;
        font-size: 16px;
        color: gray;
    }

    a:link,
    a:visited,
    a:active {
        color: #4F81BC;
    }
     /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.comp {
    padding: 0.5em;
    text-align: center;
    margin: auto;
}
    </style>
</head>

<body>
    <div id="app">
        <div class="comp">
            <span>{{message}}</span>
            <button v-on:click=toggleStart><span v-if=started>Stop</span><span v-else>Start</span></button>
            <select v-model="selectedCom">
                <option value="" selected disabled hidden>Choose COM</option>
                <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                </option>
            </select>
        </div>
        <div class="comp">
            <input type="checkbox" id="solenoid1" v-model="solenoid1">
            <label for="solenoid1">Solenoid 1</label>
            <label for="solenoid1timer" style="margin-left:2em;">Timer (s)</label>
            <input v-model.number="solenoid1timer" id="solenoid1timer" type="number" style="width:4em;">
            <button v-on:click=solenoid1timerstart>Start</button>
        </div>
        <div class="comp">
            <input type="checkbox" id="solenoid2" v-model="solenoid2">
            <label for="solenoid2">Solenoid 2</label>
            <label for="solenoid2timer" style="margin-left:2em;">Timer (s)</label>
            <input v-model.number="solenoid2timer" id="solenoid2timer" type="number" style="width:4em;">
            <button v-on:click=solenoid2timerstart>Start</button>
        </div>
        <div class="comp">
            <label for="pressureSet">Pressure (psi)</label>
            <input v-model.number="pressureSet" id="pressureSet" type="number" min=0 max=10 step=0.1>
            <button v-on:click=pressureSetUpdate>Update</button>
        </div>
    </div>
    <div id="chartContainer" style="height: 360px; width: 100%;padding-top: 2em;"></div>
    <script src="/static/vue.js"></script>
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/canvasjs.min.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            solenoid1: false,
            solenoid1timer: 0,
            solenoid1timerT: null,
            solenoid2: false,
            solenoid2timer: 0,
            solenoid2timerT: null,
            pressureSet: 0,
            started: false,
            message: 'microfluidic system',
            options: [],
            selectedCom: "",
        },
        methods: {
            toggleStart: function() {
                _this = this;
                if (this.selectedCom == "") {
                    this.message = "need to select com";
                    return;
                }
                this.started = !this.started;
                if (this.started) {
                    this.message = "starting";
                    $.get("/" + this.selectedCom, function(data) {
                        console.log(data);
                        _this.message = data["Message"];
                    });
                } else {
                    $.get("/stop", function(data) {
                        console.log(data);
                        _this.message = data["Message"];
                    });
                    this.message = "stopping";
                }
            },
            solenoid1Tick: function() {
                this.solenoid1timer -= 0.1;
                if (this.solenoid1timer <= 0.09) {
                    clearInterval(this.solenoid1timerT);
                    this.solenoid1timerT = null;
                    this.solenoid1timer = 0;
                    this.solenoid1 = false;
                }
            },
            solenoid1timerstart: function() {
                if (this.solenoid1timer > 0 && this.solenoid1timerT == null) {
                    this.solenoid1 = true;
                    this.solenoid1timerT = setInterval(this.solenoid1Tick, 100);
                }
            },
            solenoid2Tick: function() {
                this.solenoid2timer -= 0.1;
                if (this.solenoid2timer <= 0.09) {
                    clearInterval(this.solenoid2timerT);
                    this.solenoid2timerT = null;
                    this.solenoid2timer = 0;
                    this.solenoid2 = false;
                }
            },
            solenoid2timerstart: function() {
                if (this.solenoid2timer > 0 && this.solenoid2timerT == null) {
                    this.solenoid2 = true;
                    this.solenoid2timerT = setInterval(this.solenoid2Tick, 100);
                }
            },
            pressureSetUpdate: function() {
                val = this.pressureSet;
                if (val <= 10 && val >= 0) {
                    voltage = val / 3;
                    voltage = voltage.toFixed(2);
                    $.get(`/voltage${voltage}`, function(data) {
                        console.log(data)
                    });
                }
            },
        },
        mounted: function() {
            _this = this;
            $.get("/coms", function(data) {
                console.log(data)
                _this.options = data.Ports;
            });
        },
        watch: {
            solenoid1: function(val) {
                _this = this;
                console.log(`solenoid 1 ${val}`);
                if (val) {
                    $.get("/sol1on", function(data) {
                        console.log(data)
                        _this.message = data["Message"];
                    });
                } else {
                    $.get("/sol1off", function(data) {
                        console.log(data)
                        _this.message = data["Message"];
                    });
                }
            },
            solenoid2: function(val) {
                _this = this;
                console.log(`solenoid 2 ${val}`);
                if (val) {
                    $.get("/sol2on", function(data) {
                        console.log(data)
                        _this.message = data["Message"];
                    });
                } else {
                    $.get("/sol2off", function(data) {
                        console.log(data)
                        _this.message = data["Message"];
                    });
                }
            },
        }
    })
    window.onload = function() {
        var dps = []; // dataPoints
        var instance = (new Date()).getTime();
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Current pressure"
            },
            axisX: {
                title: "Time",
                valueFormatString: "hh:mm:ss"
            },

            axisY: {
                title: "PSI",
            },
            data: [{
                type: "spline",
                xValueType: "dateTime",
                dataPoints: dps
            }]
        });

        var updateInterval = 100;
        var maxDataLength = 100; // number of dataPoints after which the series shifts
        var time = new Date();
        var updateCount = 0;
        var updateChart = function() {
            if (dps.length > maxDataLength) {
                dps.shift();
            }
            chart.render();
        };

        //update chart after specified time.
        setInterval(function() {
            if (app.started) {
                $.get("/read", function(data) {
                    // console.log(data)
                    if (data["Success"]) {
                        var y = parseFloat(data["Message"]) / 1023 * 5.0 * 2 * 3;
                        if (y < 15) { dps.push({ x: (new Date()), y: y, }); }
                    } else {
                        console.log(data);
                    }
                });
                updateChart();
            }
        }, updateInterval);
    }
    </script>
</body>

</html>